@use '../../sass/abstract' as *;

.container {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  @include block;

  * {
    font-size: inherit;
  }

  @include bp-small {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
}

.input {
  flex: 1 0;

  @include bp-small {
    flex: 0 0 100%;
    order: -1;
  }
}

.button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $blue;
  color: white;

  &:hover {
    background-color: lighten($blue, 30%);
  }
}
