$blue: hsl(238, 40%, 52%);
$dark-blue: hsl(212, 24%, 26%);
$light-blue: hsl(239, 57%, 85%);
$gray-blue: hsl(211, 10%, 45%);

$red: hsl(358, 79%, 66%);
$pink: hsl(357, 100%, 86%);

$gray: hsl(223, 19%, 93%);
$light-gray: hsl(228, 33%, 97%);

$avatar-size: 3rem;

@mixin block {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  @media screen and (max-width: 40.625em) {
    padding: 2rem;
  }
}

// breakpoints
$bp-largest: 68.75em;

@mixin bp-largest {
  @media screen and (max-width: 68.75em) {
    @content;
  }
}

@mixin bp-large {
  @media screen and (max-width: 56.25em) {
    @content;
  }
}

@mixin bp-medium {
  @media screen and (max-width: 46.875em) {
    @content;
  }
}

@mixin bp-small {
  @media screen and (max-width: 40.625em) {
    @content;
  }
}

@mixin bp-smallest {
  @media screen and (max-width: 25em) {
    @content;
  }
}