@use './abstract' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;

  @include bp-smallest {
    font-size: 37.5%;
  }
}

body {
  min-height: 100vh;

  background-color: $gray;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  line-height: 1.5;
  border: 2px solid $gray;
  border-radius: 10px;
  padding: 1rem 1.5rem;

  &:hover,
  &:focus {
    outline: none;
    border-color: $blue;
  }

  @include bp-smallest {
    border-radius: 5px;
  }
}
