@use '../../sass/abstract' as *;

@mixin contentBlock {
  flex: 0 0 100%;
  font-size: 1.4rem;
}

.comment {
  position: relative;
  display: flex;
  gap: 2rem;
  @include block;
  @include bp-small {
    flex-direction: column-reverse;
  }
}

.rating {
  padding: 0.75rem;
  flex: 0 0 3.5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
  border-radius: 5px;

  button {
    background: none;
    border: none;
    outline: none;

    &:hover {
      path {
        fill: $blue;
      }
    }
  }

  span {
    color: $blue;
    font-weight: 700;
    font-size: 1.5rem;
  }

  @include bp-small {
    width: 8rem;
    display: flex;
    flex-direction: row;

    button {
      &:last-child {
        margin-top: -0.5rem;
      }
    }
  }
}

.main {
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
}

.author {
  font-size: 1.4rem;
  font-weight: 500;
  color: $dark-blue;
}

.tag {
  background-color: $blue;
  border-radius: 2px;
  color: white;
  padding: 0.25rem 0.5rem;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
  color: $gray-blue;

  @include bp-small {
    margin-left: auto;
  }
}

.content {
  @include contentBlock();
  color: $gray-blue;

  span {
    font-weight: 700;
    color: $blue;
  }
}

.textarea {
  @include contentBlock();
}

.buttons {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  display: flex;
  gap: 1.5rem;

  button {
    text-transform: capitalize;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 700;
  }

  @include bp-small {
    top: auto;
    bottom: 3rem;
  }
}

.reply,
.edit {
  color: $blue;

  &:hover {
    color: lighten($blue, 20%);
    path {
      fill: lighten($blue, 20%);
    }
  }
}

.delete {
  color: $red;

  &:hover {
    color: lighten($red, 20%);
    path {
      fill: lighten($red, 20%);
    }
  }
}

.update {
  margin-left: auto;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $blue;
  color: white;

  &:hover {
    background-color: lighten($blue, 30%);
  }
}
