@use '../../sass/abstract' as *;

.comment {
  position: relative;
  display: flex;
  gap: 2rem;
  @include block;
}

.rating {
  padding: 0.75rem;
  flex: 0 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
  border-radius: 10px;

  button {
    background: none;
    border: none;
    outline: none;

    &:hover {
      path {
        fill: $blue;
      }
    }
  }

  span {
    color: $blue;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
}

.author {
  font-size: 1.4rem;
  font-weight: 500;
  color: $dark-blue;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
  color: $gray-blue;
}

.content {
  flex: 0 0 100%;
  font-size: 1.4rem;
  color: $gray-blue;

  span {
    font-weight: 700;
    color: $blue;
  }
}

.reply {
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: $blue;

  &:hover {
    color: lighten($blue, 30%);
    path {
      fill: lighten($blue, 30%);
    }
  }
}
